header h1{
    text-align: center;
    padding: 20px, 52px, 10px, 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(84, 135, 193);
    color: white;
    margin: 0;
    font-size: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul li{
    display:inline-block;
   
    margin-right: 50px;
    background-color: rgb(215, 250, 250);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
nav{
    background-color: rgb(215, 250, 250);
    margin-top: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}
#left{
    background-color: transparent;
}
#cart{
    width:20px;
    height: 20px;;
    text-align: right;
}
div{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 2px dashed black;
    padding-bottom: 20px;
    margin: 10px;
}
a:link{
    text-decoration: none;
    color:black;
}
a:visited{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: none;
    color:black;
}
#bestseller_main img,#favorites_main img,  #shop_div img, #arrivals_main img, #full_cart img {
    width: 200px;
    height: auto;
    margin: 30px;
}
#bestseller_main img:hover,#favorites_main img:hover, #shop_div img:hover, #arrivals_main img:hover, #full_cart img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


#full_cart img{
    width: 200px;
    height: auto;
    margin: 30px;
   
}



#shop_div{
    border: none;
}
select{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    display: inline-block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    display: contents;
}

table{
    table-layout: fixed;
}
tr, td, th{
    width: 33.33%;
    vertical-align: top;
    text-align: center; 
    font-size: large;
}
figure{
    width: 90%;
}
figure img{
    width: 80%;
    height: auto;
    object-fit:fill;
}
#signup {
    border: 2px solid black;
    padding: 4px;
    background-color: rgb(84, 135, 193);
}
.events{
    background-color: rgb(215, 250, 250);
}
label {
    display: block;
    margin-bottom: 4px;
  }
input{
    margin-bottom: 15px;
    width: 200px;
}
#full_cart label, #add_cart label{
    display: inline;
}
input[type="radio"]{
    width: auto;
    display: inline;
}
select #event{
    display: block;
    margin-bottom: 25px;
    justify-content: center;
}
section{
    display: inline-block;
}
section img{
    display: block;
}
#full_cart p{
    font-size: 5em;
}
.form{
    text-align: center;
    border: none;
}
#formbutton{
    padding: 5px;
    width: 100px;
    display: block;
    margin-left: 47.5%;
    margin-top: 25px;
    background-color: rgb(215, 250, 250);
}
.signuplabel{
    display: block;
    margin-bottom: 4px;
}
footer{
    background-color: rgb(215, 250, 250);
}
.footerul li{
    display: block;
}
.footertd{
    width: 72%;
}
textarea{
    width: 200px;
    height: 200px;
}
.formbutton{
    margin-bottom: 85px;
}
#blank{
    margin-bottom: 400px;
}
#purchase, button#add_to_cart{
    background-color: rgb(111, 170, 236);
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    color: azure;
    font-weight: 700;
}
/* footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
footer table{
    width: 100%;
}
    */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1; /* Takes up all available vertical space */
    padding: 2rem;
  }
