header h1{
    text-align: center;
    padding: 20px, 52px, 10px, 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(84, 135, 193);
    color: white;
    margin: 0;
    font-size: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul li{
    display:inline-block;
   
    margin-right: 50px;
    background-color: rgb(215, 250, 250);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
nav{
    background-color: rgb(215, 250, 250);
    margin-top: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}
#left{
    background-color: transparent;
}
#cart{
    width:20px;
    height: 20px;;
    text-align: right;
}
div{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 2px dashed black;
    padding-bottom: 20px;
    margin: 10px;
}
a:link{
    text-decoration: none;
    color:black;
}
a:visited{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: none;
    color:black;
}
#bestseller_main img,#favorites_main img,  #shop_div img, #arrivals_main img {
    width: 200px;
    height: auto;
    margin: 30px;
}
#bestseller_main img:hover,#favorites_main img:hover, #shop_div img:hover, #arrivals_main img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#shop_div{
    border: none;
}
select{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    display: inline-block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
